// Color Variable
$color-primary-white: #ffffff;
$color-secondary-white: #fcfcfc;
$color-grey: #d5d4d8;
$color-primary-dark: #000000;
$color-secondary-dark: #0d0d0d;
$color-gradient-1: #672280;
$color-gradient-2: #a626d3;
