.main {
	padding: 5rem 35rem;
}

.form-container {
	&--form__inputs {
		@include flex-row;
		justify-content: space-between;
		width: 100%;
		margin-bottom: 2.5rem;
	}

	&--form__input {
		width: 48%;
		outline: none;
		border: 0.2rem solid $color-grey;
		padding: 1.5rem 1rem;
		font-size: 2rem;
		color: $color-secondary-dark;
		@include border-radius;
		transition: all 1s;

		&:focus {
			outline: auto;
		}
	}

	&__button {
		width: 100%;
		padding: 1.5rem 0;
		@include border-radius;
		outline: none;
		border: none;
		background-color: $color-gradient-2;
		color: $color-primary-white;
		font-size: 2rem;
		transition: all 0.3s;

		&:hover {
			cursor: pointer;
			background-color: $color-gradient-1;
		}

		&:active {
			transform: translateY(0.5rem);
		}
	}
}
